body{
    background-image: url(/img/fondo-listaProductos.jpg);

    nav{
        background-color:rgba(255, 0, 0, 0.344);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .navbar{
        padding: 0rem;
        .logo{
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            margin-left: 0.5rem;
        }
    }
    .wheater{
        display: flex;
        flex-direction: column;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(249, 214, 214);
        p{
            margin: 0rem;
            padding-right: 1rem;
        }
    }
    .seccion-productos{
        display: flex;
        padding: 1rem;
        justify-content: space-around;

        .card{
            text-align: center;
            .card-title{
                color:rgba(255, 0, 0, 0.603);
            }
            .precio{
                font-weight: bold;
            }
            .btn{
                background-color: rgba(255, 0, 0, 0.344);
                border: red;
                &:hover{
                    background-color:rgba(255, 0, 0, 0.603);
                }
            }
            
        }
    }
    .seccion-carrito{
        h2{
            text-align: center;
            color:rgba(255, 0, 0, 0.603) ;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
    .table-contain{
        margin-left: 3rem;
        margin-right: 3rem;
    }
    .seccion-botones{
        text-align: center;
        .btn{
            color: white;
            background-color: rgba(255, 0, 0, 0.344);
            border: red;
            margin-bottom: 2rem;
            &:hover{
                    background-color:rgba(255, 0, 0, 0.603);
                }
        }
    }
}